*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

.row1flex {
  display: flex;
  justify-content: center;

  width: 700px;

  margin: 0 auto;
}

.row1flex .board {
  height: 100px;

  background-color: #121212;

  padding: 15px;
}

.row1flex .board .tile {
  border-style: outset;
  padding: 15px 15px;
  background-color: #A80038;
  height: 55px;
  width: 55px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
}


.row2flex {
  display: flex;
  justify-content: center;

  width: 700px;

  margin: 0 auto;
  padding: 15px;
}

.row2flex .board {
  height: 100px;

  background-color: #121212;

  padding: 15px;
}

.row2flex .board .tile {
  border-style: outset;
  padding: 15px 15px;
  background-color: #A80038;
  height: 55px;
  width: 55px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
}

.handflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 400px;
  
  padding-top: 64px;
  margin: 0 auto;
}

.handflex .board {
  height: 60px;
  width: 60px;
  border-style: groove;
  flex-wrap: wrap;
  justify-content: center;

  background-color: rgb(0, 0, 0);
  margin: 1px;
}

.handflex .board .tile {
  border-style: outset;
  padding: 15px 15px;
  background-color: #A80038;
  height: 58px;
  width: 58px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
}

.gridflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 600px;

  padding-top: 64px;
  margin: 0 auto;
}

.gridflex .board {
  height: 60px;
  width: 60px;
  border-style: groove;
  flex-wrap: wrap;
  justify-content: center;

  background-color: rgb(0, 0, 0);
  margin: 1px;
}

.gridflex .board .tile {
  border-style: outset;
  padding: 15px 15px;
  background-color: #A80038;
  height: 58px;
  width: 58px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
}
