*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

.flexbox {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  max-width: 1600px;
  height: 160vh;

  

  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  flex-direction: row;
  flex: 1;
  height: 300px;

  background-color: rgb(34, 36, 37);

  padding: 15px;
}

.flexbox .board .tile {
  border-style: outset;
  padding: 15px 15px;
  background-color: darkgoldenrod;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-bottom: 15px;
}
